<div class="row">
  <div class="col-md-8">
    <app-car-image></app-car-image>
  </div>    
  <div class="col-md-2">
    <div class="card" style="width: 18rem"> 
      <ul *ngFor="let car of cars" class="list-group list-group-flush">
        <li class="list-group-item">Marka: {{ car.brandName }}</li>
        <li class="list-group-item">Model: {{ car.carName }}</li>
        <li class="list-group-item">Yıl: {{ car.modelYear }}</li>
        <li class="list-group-item">Renk: {{ car.colorName }}</li>
        <li class="list-group-item">Fiyat:{{ car.dailyPrice }} TL</li>
      </ul>
    </div>   
  </div>
</div>