<div class="card text-center">
    <div class="card-header">
      <label for="filterText" class="form-label">Renkler</label>
      <input
        type="text"
        [(ngModel)]="filterText"
        class="form-control"
        id="filterText"
        placeholder="Renk Adı Ara"
      />
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Renk</th>
            <th scope="col"><a role="button" href="renkler/ekle" class="btn btn-outline-success">Yeni Ekle</a></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let color of colors | colorFilter:filterText">
            <td><a class="btn btn-primary" href="araclar/renk/{{ color.id }}" role="button">{{ color.name }}</a></td>
            <td>
              <a role="button" href="renkler/duzenle/{{ color.id }}" class="btn btn-outline-secondary">Düzenle</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  