<div class="card text-center">
  <div class="card-header">Tüm Kiralamalar</div>
  <div class="card-body">
    <table class="table table-success table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">Marka</th>
          <th scope="col">Araç</th>
          <th scope="col">Müşteri</th>
          <th scope="col">Kiralanma Tarihi</th>
          <th scope="col">Teslim Tarihi</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rental of rentals">
          <td>{{ rental.brandName }}</td>
          <td>{{ rental.carName }}</td>
          <td>{{ rental.firstName }} {{ rental.lastName }}</td>
          <td>{{ rental.rentDate }}</td>
          <td>{{ rental.returnDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
