<form *ngIf="authService.isAuthenticated() == false" [formGroup]="loginForm" class="row">
    <div class="col-auto">   
      <input formControlName="email" ngModel [email]="true" type="email" class="form-control form-control-sm" placeholder="email@example.com">
    </div>
    <div class="col-auto">
      <input formControlName="password" type="password" class="form-control form-control-sm" placeholder="Şifre">
    </div>
    <div class="col-auto">
      <button [disabled]="!loginForm.valid" (click)="login()" class="btn btn-success btn-sm">Giriş Yap</button>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-light btn-sm">Üye Ol</button>
    </div>
  </form>

  <div *ngIf="authService.isAuthenticated() == true" class="dropdown">
    <button class="btn btn-light dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
      {{authService.name}}
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li><a class="dropdown-item" href="/renkler/ekle">Renk Ekle</a></li>
        <li><a class="dropdown-item" href="/markalar/ekle">Marka Ekle</a></li>
        <li><a class="dropdown-item" href="/araclar/ekle">Araç Ekle</a></li>
        <li><hr class="dropdown-divider"></li>
      <li><button class="dropdown-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award-fill" viewBox="0 0 16 16">
          <path d="m8 0 1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z"/>
          <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
        </svg> 
         {{authService.roles}}</button></li>
      <li><a class="dropdown-item" href="/profil/{{authService.userId }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
          <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
        </svg> 
        Profil</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><button class="dropdown-item" (click)="logOut()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
          <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg> 
        Çıkış </button></li>
    </ul>
  </div>